#tdios { margin-top: 55px; }
#droid { margin-top: 70px; }
#hbrew { margin-top: 80px; }
#asapp { margin-top: 70px; }
#ppane { margin-top: 80px; }
#bofin { margin-top: 90px; }

#tdios img { left: 690; top: -60; }
#droid img { left: 30;  top: -45; }
#hbrew img { left: 655; top: -20; }
#asapp img { left: -2;   top: -100; }
#ppane img { left: 627; top: -20; }
#bofin img { left: 25;  top: -39; }

#masthead {
	margin: 20px auto;
	display: block
}

#footer {
	text-align: center;
	margin-top: 70px;
	font-size: 8pt;
	display: block;
	padding: 0 12pt 20px 0;
	word-spacing: 5pt;
}

#mxcl {
	width: 900px;
	margin: 0 auto;
	height: 100%;
}

#mxcl div {
	position: relative;
	line-height: 1.65;
}

#mxcl div a {
	text-decoration: none;
}

h2 {
	font-size: 11pt;
	margin-bottom: 0;
}

h2 a {
	color: #363041;
}

#mxcl div div {
	text-align: justify;
	width: 290px;
	margin: auto;
}

#mxcl div img {
	position: absolute;
}

.brief {
	margin-top: 45;
	width: 595;
	font-size: 8pt;
	color: #6d535d;
	border-bottom: 1px dashed #c8b496;
}

.brief h2 {
	display: inline-block;
	font-size: 8pt;
}

.brief h2 a {
	font-weight: normal;
	color: #ae8e65;
}

.brief h2 a:hover {
	color: #363041;
}

.brief_right {
	text-align: right;
	margin-left: 305;
}
