
#txt_td { top: 113px; }
#txt_hb { top: 400px; }
#txt_as { top: 588px; }
#txt_pp { top: 778px; }
#txt_bf { top: 1008px; }

#img_td { top: 65px; left: 32px; }
#img_hb { top: 390px; left: 642px; }
#img_as { top: 500px; left: -5px; }
#img_pp { top: 770px; left: 614px}
#img_bf { top: 980px; left: 25px }


#masthead {	left: 306px; top: 20px; }


#footer {
	position: absolute;
	text-align: center;
	bottom: 6px;
	width: 900px;
	font-size: 8pt;
	display: block;
	padding: 0 12pt 5pt 0;
	word-spacing: 5pt
}
#mxcl {
	width: 900px;
	position: relative;
	margin: 0 auto;
	height: 100%;
	min-height: 1300px;
}

#mxcl h2 { font-size: 11pt; margin-bottom: 0 }
#mxcl h2 a { color: #363041; }
#mxcl img { position: absolute; }
#mxcl div a { text-decoration: none; }

#mxcl div {
	position: absolute;
	left: 305px;
	width: 290px;
	text-align: justify;
	line-height: 1.65;
}
