* {
  box-sizing: border-box;
}
html {
  font-family: 'MetropolisRegular';
  font-weight: normal;
  font-style: normal;
  padding: 2.5rem;
  margin: 0;

  background-size: cover;
  background: #00B4DB;
  background-repeat: no-repeat;
  background: linear-gradient( to right bottom, #00B4DB, #0083B0);
  
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

p {
  max-width: 45em;
}

h1, h2, h3, h4 {
  font-family: 'MetropolisThin';
}

h1 {
  margin-bottom: 0;
}

.timeline h1 {
  margin-bottom: 0;
}
.timeline h2:not(:first-child) {
  margin-top: 2rem;
}
.timeline h2 {
  margin-bottom: 0;
}
.timeline h3, .timeline h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.timeline p {
  margin-top: 0.38rem;
  margin-bottom: 1rem;
}
.timeline p, .timeline h3, .timeline h4 {
  margin-left: 1.5rem;
}
p {
  line-height: 1.4;
}
.timeline code {
  font-size: 1.35em
}

a:link, a:visited {
  color: #37deff;
  text-decoration: none;
}
a:hover {
  color: #0083B0;
}

h1:not(:first-child) {
  margin-top: 4rem;
}

li {
  margin-bottom: 0.3rem;
}

#donate-tray > * {
  margin-right: 1rem;
  display: inline-block;
  position: relative;
  margin-top: 0.6rem;
}
#donate-tray img {
  border-radius: 0.15rem;
  width: 160px;
  height: 37.5px;
}

#tip-footnote {
  text-align: center;
  font-size: 0.7em;
  color: rgba(255,255,255,0.70);
  position: absolute;
  bottom: -1.35em;
  left: 0;
  right: 0;
}

img.flair {
  border: white 3px solid;
  width: 300px;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

@media all and (max-width: calc(600px + 1rem + 5rem + 4px)) {
  img.flair {
    width: calc(50% - 1rem);
    margin-right: 0;
  }
}

@media all and (max-width: 500px) {
  img.flair {
    width: 100%;
    margin-right: 0;
  }
}
