body {
	margin: 0;
	padding: 0;
	color: #363041;
	background: #f3f2ee repeat-x;
	background-attachment: fixed;
	background-image: url(http://methylblue.com/images/gradient.png);
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0.0, #eee5d7), color-stop(1.0, #f3f2ee));
	-webkit-background-size: 230px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 10pt;
}
a img { border: 0; }

a { color: #6b5c6a }
a:hover { background: #e8e0f7; }
